body{
    font-family: "Playwrite MX", cursive;
    background-image: url(images/Free-Amazing-Background-Images-Nature.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.wrapper{
    color: black;
    text-align: center;
    padding: 40px;
    letter-spacing: 4px;
    background-color: #0c2491;
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
}
#seconds, #tens{
    font-size: 2em;
}
button{
    border-radius: 5px;
    background: #600;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    width: 100px;
    margin: 10px;
    outline: none;
    border: none;
    transition: all 0.2 ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
}

button:hover{
    background-color: #600;
    color: black;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1);
    }
}
@keyframes bounce{
    5%,
    50%{
        transform: scale(1);
    }
    10%{
        transform: scale(1);
    }
    15%{
        transform: scale(1);
    }
    20%{
        transform: scale(1) rotate(-5deg);
    }
    25%{
        transform: scale(1) rotate(5deg);
    }
    30%{
        transform: scale(1) rotate(-3deg);
    }
    35%{
        transform: scale(1) rotate(2deg);
    }
    40%{
        transform: scale(1) rotate(0);
    }
}